:root {
    font-size: 16px;
    
    --app-spacing: 1rem;
    --app-min-height: 350px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(170, 249, 164);
    background: linear-gradient(129deg, rgba(170, 249, 164, 1) 0%, rgba(255, 160, 20, 1) 46%, rgba(185, 101, 255, 1) 100%);
    * {
        box-sizing: border-box;
    }

    .hide {
        display: none !important;
    }
}

main {
    display: block;
    width: 300px;
    min-height: var(--app-min-height);
    .bstash-list-con {
        padding-bottom: 3rem; 
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                position: relative;
                display: block;
                margin-top: calc(var(--app-spacing) / 2);
                padding: calc(var(--app-spacing) / 2);
                background-color: rgba(255, 255, 255, .5);
                border-radius: 5px;
                transition: all .3s linear;
                [-hover] {
                    background-color: rgba(255, 255, 255, 1);
                    box-shadow: 0px 6px 12px 2px rgba(0, 0, 0, 0.18);
                    a span {
                        width: 90%;
                    }
                    .bstash-trash-icon {
                        opacity: .5;
                    }
                }  
                [SELF].drag-hint {
                    /* border: 1px solid #ffc49a;
                    background: #feffb4; */
                    zoom: 1;
                }
                
                [SELF].drag-active {
                    /* border: 5px solid #ffa5a5;
                    background: #ffe7e7;
                    outline: 1px solid red;
                    position: relative;
                    bottom: -1rem; */
                    zoom: 1;
                }
                a {
                    color: #092609;
                    cursor: default;
                    display: grid;
                    grid-template-columns: 10% 1fr;
                    align-items: center;
                    text-decoration: none;
                    position: relative;
                    img {
                        width: 20px;
                        height: 20px;
                    }
                    span {
                        width: 95%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    [SELF], 
                    * {
                        /* See: https://stackoverflow.com/questions/33309632/prevent-link-dragging-but-still-allow-text-highlighting */
                        user-select: none;
                        -webkit-user-drag: none;
                    }
                }
                .bstash-trash-icon {
                    position: absolute;
                    z-index: 100;
                    /* outline: 1px solid red;
                    background-color: yellow; */
                    top: -2px;
                    right: 0;
                    --size: 40px;
                    width: var(--size);
                    height: var(--size); 
                    opacity: 0;
                }
            }
        }
    }

    .bstash-empty-con {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: calc(var(--app-min-height) - 50px);
        // outline: 2px solid blue;
        div {
            text-align: center;
            font-size: 1.5em;
            opacity: .6;
            // outline: 2px solid blue;
        }
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 1.5rem;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, .3);
    z-index: 1000;
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    align-items: center;
    justify-content: center;
    .bstash-footer-child { 
        text-align: center;
        padding: .5rem;
        img.bstash-footer-control {
            transition: transform .2s ease-out;
            opacity: .5;
            --size: 15px;
            width: var(--size);
            height: var(--size);
            [-hover] {
                transform: rotate(90deg);
            }
        }
    }
}