:root {
  font-size: 16px;
  --app-spacing: 1rem;
  --app-min-height: 350px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: rgb(170, 249, 164);
  background: linear-gradient(129deg, rgba(170, 249, 164, 1) 0%, rgba(255, 160, 20, 1) 46%, rgba(185, 101, 255, 1) 100%);
}

body * {
  box-sizing: border-box;
}

body .hide {
  display: none !important;
}

main {
  display: block;
  width: 300px;
  min-height: var(--app-min-height);
}

main .bstash-list-con {
  padding-bottom: 3rem;
}

main .bstash-list-con ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main .bstash-list-con ul li {
  position: relative;
  display: block;
  margin-top: calc(var(--app-spacing) / 2);
  padding: calc(var(--app-spacing) / 2);
  background-color: rgba(255, 255, 255, .5);
  border-radius: 5px;
  transition: all .3s linear;
}

main .bstash-list-con ul li:hover {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 6px 12px 2px rgba(0, 0, 0, 0.18);
}

main .bstash-list-con ul li:hover a span {
  width: 90%;
}

main .bstash-list-con ul li:hover .bstash-trash-icon {
  opacity: .5;
}

main .bstash-list-con ul li.drag-hint {
  zoom: 1;
}

main .bstash-list-con ul li.drag-active {
  zoom: 1;
}

main .bstash-list-con ul li a {
  color: #092609;
  cursor: default;
  display: grid;
  grid-template-columns: 10% 1fr;
  align-items: center;
  text-decoration: none;
  position: relative;
}

main .bstash-list-con ul li a img {
  width: 20px;
  height: 20px;
}

main .bstash-list-con ul li a span {
  width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main .bstash-list-con ul li a,
main .bstash-list-con ul li a * {
  user-select: none;
  -webkit-user-drag: none;
}

main .bstash-list-con ul li .bstash-trash-icon {
  position: absolute;
  z-index: 100;
  top: -2px;
  right: 0;
  --size: 40px;
  width: var(--size);
  height: var(--size);
  opacity: 0;
}

main .bstash-empty-con {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(var(--app-min-height) - 50px);
}

main .bstash-empty-con div {
  text-align: center;
  font-size: 1.5em;
  opacity: .6;
}

main .bstash-setting {
  display: block;
  transition: all .1s ease-out;
  padding: var(--app-spacing);
  padding-bottom: .1rem;
  position: fixed;
  top: 1rem;
  left: .5rem;
  right: .5rem;
  min-height: 200px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, .9);
  z-index: 90000;
  border-radius: 10px;
  box-shadow: 0px 3px 0px 5000px rgba(0,0,0,0.31);
}

main .bstash-setting::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
}

main .bstash-setting.hide-settings {
  opacity: 0;
  transform: scale(0);
}

main .bstash-setting a {
  text-decoration: none;
  color: #3dbafc;
}

main .bstash-setting section,
main .bstash-setting button,
main .bstash-setting .bstash-settings-branding {
  position: relative;
  z-index: 5000 !important;
}

main .bstash-setting section {
  margin: calc(var(--app-spacing) * 1.5) 0;
}

main .bstash-setting section:first-child {
  margin-top: 0;
}

main .bstash-setting section header {
  display: grid;
  grid-template-columns: 10% 1fr;
  align-items: center;
  gap: 0;
  margin-bottom: .5rem;
}

main .bstash-setting section header img {
  --size: 20px;
  width: var(--size);
  height: var(--size);
}

main .bstash-setting section header span {
  text-align: left;
  font-weight: 500;
  font-size: .8rem;
}

main .bstash-setting section input[type="text"] {
  display: block;
  padding: .5rem;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
}

main .bstash-setting section p {
  color: #939493;
  margin: .2rem 0;
  font-size: .7rem;
  text-align: justify;
}

main .bstash-setting #bstash-settings-save-button {
  display: block;
  width: 30%;
  margin: 0 auto;
  padding: .2rem .5rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #000;
}

main .bstash-setting .bstash-settings-branding {
  text-align: left;
  color: #939493;
  width: 100%;
  padding-top: .5rem;
  padding-bottom: .2rem;
  font-size: .6rem;
}

main .bstash-setting .bstash-settings-branding i {
  font-size: .9rem;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 1.5rem;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, .3);
  z-index: 1000;
  display: grid;
  grid-template-columns: 15% 1fr 10% 10%;
  align-items: center;
  justify-content: center;
}

footer .bstash-footer-child {
  text-align: center;
  padding: .3rem;
}

footer .bstash-footer-child img.bstash-footer-control {
  transition: transform .2s ease-out;
  opacity: .5;
  --size: 15px;
  width: var(--size);
  height: var(--size);
}

footer .bstash-footer-child img.bstash-footer-control:hover {
  transform: rotate(180deg);
}

footer #bstash-msg-con {
  font-style: italic;
}