body {
    --app-spacing: 16px;
    .__stash-toast,
    .__stash-toast--danger {
        font-family: Verdana, Geneva, Tahoma, sans-serif !important;
        background: rgba(170, 249, 164, 1) !important;
        color: #092609 !important;
        // background: linear-gradient(129deg, rgba(170, 249, 164, 1) 0%, rgba(255, 160, 20, 1) 46%, rgba(185, 101, 255, 1) 100%);
        font-size: 16px;
        padding: calc(var(--app-spacing) / 2) calc(var(--app-spacing) * 3) !important;
        border: 5px solid #fff;
        border-radius: 10px;
        opacity: 1 !important;
        text-shadow: 0px 1px 15px rgba(255, 255, 255, 1);
        button {
            display: none;
        }
    }
    .__stash-toast--danger {
        color:hsl(8, 67%, 54%) !important;
    }
}