body {
  --app-spacing: 16px;
}

body .__stash-toast {
  background: rgb(170, 249, 164);
  background: linear-gradient(129deg, rgba(170, 249, 164, 1) 0%, rgba(255, 160, 20, 1) 46%, rgba(185, 101, 255, 1) 100%);
  font-size: 18px;
  padding: calc(var(--app-spacing) / 2) var(--app-spacing);
  border: 5px solid #fff;
  border-radius: 10px;
  opacity: 1;
  text-shadow: 0px 1px 15px rgba(255, 255, 255, 1);
}

body .__stash-toast button {
  display: none;
}